.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu-game-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.menu {
    width: 15%;
    border-right: 1px solid black;
    padding: 6px;
}

.game {
    width: 70%;
    max-width: 70%;
    overflow: hidden;
}

.during_action {
    cursor: pointer;
}